@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    /*  font-family: 'Times New Roman', Times, sans-serif; */
    /* font-family: 'News Cycle', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
}

/* .h2NewCycle {
    font-family: 'News Cycle', sans-serif;
    font-weight: lighter;
    font-size: 1000px;
} */

.title {
        /* font-family: 'News Cycle', sans-serif; */
        font-family: 'Bebas Neue', cursive;
        width: max-content;
        font-size: 40px;
        margin: auto;
        margin-top: 0px;
        font-weight: lighter;
        
}

/* login */

.loginField {
    margin: 150px 
}

.loginField h2 {
    color: black;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.loginForm {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

/* Nav */

/* DEN HOVER EFFEC>T> ANPASSEN"!!!!! MOBILEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
 */

.nav-wrapper {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-bottom: 100px;
}

.logo {
    position: relative;
    margin-left: 20px;
    letter-spacing: 6px;
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    transition: 0.7s ease;
    top: 10px;
    text-transform: uppercase;
}

.logo:hover {
    cursor: pointer;
    letter-spacing: 6.5px;
}


nav ul {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    list-style-type: none;
    text-align: center;
}

nav li {
    
    border-bottom: 1px solid transparent;
    padding: 20px 30px 20px 30px;
}

nav li:hover {
    
    border-bottom: 1px solid black;
    transition: .6s ease;
    cursor: pointer;
}

nav li a {
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
}

nav li a:hover {
    background-color:rgba(0, 0, 0, 0.815);
    color: white;
    box-shadow: red;
    transition: 0.4s ease;
    font-weight: normal;
    padding: 0px 20px 0px 20px;
    
}

/* main img */

/* Preload! für die Bilder */
@media screen {
    div#preloader {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    div#preloader img {
        display: block;
        visibility: hidden;
        display: none;
    }
}

@media print {
    div#preloader,
    div#preloader img {
        visibility: hidden;
        display: none;
    }
}

.main-wrapper-img {
    width: 100%;
    height: 600px;
    background-image: url("img/skyline.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate_img 70s infinite;
    
}


@keyframes animate_img {
    0% {
        background-image: url("img/skyline.jpg");
    }
    10% {
        background-image: url("img/wm.jpg");
    }
    20% {
        background-image: url("img/pyrenees.jpg");
    }
    30% {
        background-image: url("img/dive.jpg");
    }
    40% {
        background-image: url("img/trees.jpg");
    }
    50% {
        background-image: url("img/sunset.jpg");
    }
    60% {
        background-image: url("img/satelite.jpg");
    }
    70% {
        background-image: url("img/forest.jpg");
    }
    80% {
        background-image: url("img/sea.jpg");
    }
    90% {
        background-image: url("img/winter.jpg");
    }
    100% {
        background-image: url("img/skyline.jpg");
    }
}

/* main-text */

.imgWelcome {
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'News Cycle', sans-serif; */
    font-size: 80px;
    font-weight: 200;
    /* margin: 0 auto; */
    position: relative;
    top: 42.5%;
    text-align: center;
    justify-content: center;
    color: white;
    letter-spacing: 8.5px;
    background-color: transparent;
    transition: 2s ease;
}

.imgWelcome:hover {
    top: 35%;
    padding-top:2.5% ;
    padding-bottom:2.5% ;
    color: black;
    background-color: white;
}

.welcome {
    /* font-family: 'News Cycle', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: black;
    letter-spacing: 3.5px;
    margin-top: 200px;
    padding: 0 30px;
}



.typing-wrapper-text {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 600px;
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'News Cycle', sans-serif; */
    font-size: 40px;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
    background: white;
}

.welcome-autotype {
    margin: 0 auto;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'News Cycle', sans-serif;
}

.txt-type span {
    margin: 0 auto;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'News Cycle', sans-serif; 
}

/* MAIN TEXT -> the text cursor */
.txt-type {
    margin: 0 auto;
    padding-right: 5px;
    border-right: 1px solid black;
}


/* main-cards */
.main-wrapper-cards {
    margin-bottom: 250px;
}

.title {
    margin-bottom: 75px;
    text-decoration: underline;
}

.portfolio-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-card-wrapper {
    position: relative;
    background-color: white;
    overflow: hidden;
}

.portfolio-card-image {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.8s;
}

.portfolio-card-image.html {
    background-image: url("img/html.jpg");
}
.portfolio-card-image.css {
    background-image: url("img/css.jpg");
}
.portfolio-card-image.js {
    background-image: url("img/javascript.jpg");
}
.portfolio-card-image.php {
    background-image: url("img/php.jpg");
}
.portfolio-card-image.csharp {
    background-image: url("img/csharp.jpg");
}
.portfolio-card-image.java {
    background-image: url("img/java.jpg");
}
.portfolio-card-image.sql {
    background-image: url("img/sql.jpg");
}
.portfolio-card-image.solidity {
    background-image: url("img/solidity.jpg");
}
.portfolio-card-image.py {
    background-image: url("img/keyboard.jpg");
}

.card-content-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center; 
    
    text-align: center;
    padding-left: 100px;  /* bei screen alle -x200 padding reduziern */
    padding-right: 100px; /* bei screen alle -x200 padding reduziern */
}

.card-content-text {
    color: white;
    transition: 1s;
    position: relative;
    margin: 0 auto;
}

.card-content-logo {
    color: white;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 5px;
    transition: 0.5s;
}
:hover.card-content-logo {
    transition: 0.5s;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

.card-content-logo img {
    width: 50%;
    margin-bottom: 10px;
}

.card-content-wrapper .card-content-text {
    font-weight: 600;
    color: transparent;
}

.card-content-wrapper:hover .card-content-text {
    font-weight: 600;
    color: lightgreen;
    transition: 1s;
}

.card-content-wrapper:hover .skills {
    width: 300px;
    margin: 0 auto;
    color: white;
    list-style: none;
    transition: 1s;
}

.card-content-wrapper .skills h5 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-content-wrapper:hover .skills li {
    margin: 20px 0;
    color: white;
    transition: 0.5s;
}

.card-content-wrapper:hover .bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow:  0 0 10px lightgreen; /* #2187e7b3 */
} 

.card-content-wrapper:hover .bar span {
    height: 20px;
    float: left;
    background: lightgreen; /* #2187e7; */
}

.card-content-wrapper:hover .html {
    width: 86%; /* in den @keyframes anpassen bei 100% */
    animation: html 2s;
}
.card-content-wrapper:hover .css {
    width: 60%; /* in den @keyframes anpassen bei 100% */
    animation: css 2s;
}
.card-content-wrapper:hover .javascript {
    width: 35%; /* in den @keyframes anpassen bei 100% */
    animation: javascript 2s;
}
.card-content-wrapper:hover .php {
    width: 33%; /* in den @keyframes anpassen bei 100% */
    animation: php 2s;
}
.card-content-wrapper:hover .csharp {
    width: 3%; /* in den @keyframes anpassen bei 100% */
    animation: csharp 2s;
}
.card-content-wrapper:hover .java {
    width: 25%; /* in den @keyframes anpassen bei 100% */
    animation: java 2s;
}
.card-content-wrapper:hover .sql {
    width: 70%; /* in den @keyframes anpassen bei 100% */
    animation: sql 2s;
}
.card-content-wrapper:hover .solidity {
    width: 5%; /* in den @keyframes anpassen bei 100% */
    animation: solidity 2s;
}
.card-content-wrapper:hover .python {
    width: 20%; /* in den @keyframes anpassen bei 100% */
    animation: python 2s;
}

.img-darken {
    transition: 0.7s;
    filter: brightness(13%);
}

.img-scale {
    transition: 0.7s;
    transform: scale(1.2); /* scale(ganzes bild) beim click ist ne gute IDEE  */
}

.img-scale-full {
    transition: 2s;
    transform: scale(4);
}

.cardtext-remove {
    visibility: hidden;
}


.skills li {
    color: transparent;
}


@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 86%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 35%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 33%;
    }
}

@keyframes csharp {
    0% {
        width: 0%;
    }

    100% {
        width: 3%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes solidity {
    0% {
        width: 0%;
    }

    100% {
        width: 5%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}


/* Slider ______________________________________________________ */


    .carousel-container {
        width: 640px;
        margin: auto;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 10px;
        
    }

    .carousel-slide {
        display: flex;
    }

    .noPointer {
        cursor: default;
    }

    .img-text h1 a {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 40px;
        padding:10px;
        background-color: black;
        margin-bottom: 10px;
    }

    .projektDetail {
        padding-left: 10px;
    }

    .projektDetail:last-child {
        padding-bottom: 10px;
    }

    #btnPrev {
        position: absolute;
        top: 37%;
        z-index: 10;
        left: 5%;
        font-size: 50px;
        cursor: pointer;
        animation: animate 5s linear infinite;
        
    }

    #btnNext {
        position: absolute;
        top: 37%;
        z-index: 10;
        right: 5%;
        font-size: 50px;
        cursor: pointer;
        animation: animate 5s linear infinite;
    }

    @keyframes animate {
        0% {
            color: rgb(255, 255, 255);
        }

        25% {
            color: black;
        }

        50% {
            color: yellowgreen;
        }

        100% {
            color: rgb(255, 255, 255);
            
        }
    }

    #btnNext:hover {
        color: yellowgreen;
        transition: 0.6s ease-in-out;
    }

    #btnPrev:hover {
        color: yellowgreen;
        transition: 0.6s ease;
        
    }



    
/* Kontakt Form */

.contact-form {
    margin-top: 130px;
    padding: 50px;
    background-color: white;
}

.contact-form-wrapper {
    background-color: transparent;
    max-width: 550px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: flex;
     /*set by default */
    box-shadow: 0 0 10px;
}

.cf-input-fields {
    outline: none;
    display: flex;
    flex-direction: column;
}

.cf-input-fields, .cf-msg {
    width: 50%;
}

.cf-input-fields .input, .cf-msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid gold;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.cf-msg textarea {
    width: 100%;
    text-align: initial;
    height: 208px;
    size: fixed;
    resize: none;
}

.cf-btn {
    font-size: large;
    width: 100%;
    background: gold;
    cursor: pointer;
    text-align: center;
    padding: 19px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Footer contact data */

.contact {
    padding-top: 100px;
}

.contact-wrapper {
    justify-content: center;
    display: flex;
    margin: auto;
}

.contact-data-wrapper {
    display: flex;
}

.tel-logo img, .email-logo img, .insta-logo img,
.github-logo img {
    width: 70px;
    padding: 20px;
}

.email, .tel, .insta, .github {
    padding-right: 5px;
    position: relative;
    top: 20px;
    font-size: 20px;
    
}



/* bewerbung (bewerbung.php)*/

.centered {
    width: 60%;
    margin: auto;
}

.kopfzeile {
    margin-top: 150px;
    margin-bottom: 150px;
}

.wrapper-kopfzeile {
    display: grid;
    grid-template-areas:
    "application-my-data application-photo"
    "application-company-details application-datum";

}

.application-my-data {
    grid-area: application-my-data;
}

.application-photo {
    grid-area: application-photo;
    text-align: right;
}

.application-company-details {
    grid-area: application-company-details;
}

.application-datum {
    grid-area: application-datum;
    text-align: right;
    padding-top:100px;
}

.letter_content {
    margin-bottom: 250px;
    font-size: 20px;
}

.letter-content h3 {
    font-size: 300px;
}

/* Lebenslauf/resume (Lebanlauf.php)*/

.resume-title, .werdegang-title {
    font-size: 24px;
    text-align:center;
    padding-top:50px;
    padding-bottom: 70px;
}

.resume-data {
    display: grid;
    grid-template-areas: 
    "resume-photo-wrapper resume-data-wrapper"
    ;
}

.resume-photo-wrapper {
    grid-area: resume-photo-wrapper;
    text-align: right;
    padding-right: 100px;
    padding-left: 100px;
}

.resume-data-wrapper {
    grid-area: resume-data-wrapper;
    font-size: 20px;
    padding-right: 20px;
}

.resume-name {
    margin-bottom: 25px;
}
.resume-conatact {
    margin-bottom: 25px;
}

.resume-datum {
    text-align: center;
    font-size: 20px;;
    padding-bottom: 20px;
    padding-top: 20px;
}
/* 
.resume-datum:hover, .resume-skills:hover {
    transition: .65s;
    background-color: #0c0a45;
    color: white;
    font-weight: bolder;
}
 */


.resume_skills {
    text-align: center;
    font-size: 20px;;
    grid-area: 1;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cut-line {
    height: 6px;
    background-color: #0c0a45;
}

hr {
    color:  #0c0a45;
    margin: 0px;
    padding: 0px;
    width: 60%;
    margin: auto;
    opacity: 0.5;
}

.cut-line {
    background-color: yellow;
}

@media screen and (max-width: 1550px) {
    nav li {
    padding: 5px 10px 5px 10px;
    }

    nav li a {
        letter-spacing: 2px;
        font-size: 16px;
    }

    .logo {
    top: 50%;
    font-size: 26px;
    }
}

@media screen and (max-width: 1250px) {
    .nav-wrapper ul {
            flex-direction: column;
            margin: auto;
            /* border-bottom: 1px solid gold; */
        }   
        .nav-wrapper a {
            padding: 0px;
    }
}

@media screen and (max-width: 1100px) {
    
    .main-wrapper-text {
        max-width: 460px;
        font-size: 35px;
        height: 580px;
    }

    .welcome-autotype {
        max-width: 460px;
        font-size: 35px;
    }

    .welcome-autotype span.txt {
        max-width: 460px;
        font-size: 35px;
    }

    .card-content-wrapper {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: 100%;
        text-align: center;
        padding-left: 10px;  /* bei screen alle -x200 padding reduziern */
        padding-right: 10px; /* bei screen alle -x200 padding reduziern */
    } 

    .cf-input-fields, .cf-msg, .cf-btn {
        margin: 0 auto;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns:1fr
    }

    .contact-form-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .contact-data-wrapper {
        margin: auto;
    }   
}


@media screen and (max-width: 800px) {

    .portfolio-cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .carousel-container {
        width: 400px;
        
    }

    .img-text h1 a {
        text-align: left;
    }


}

@media screen and (max-width: 600px) {

    .logo {
        margin: auto;
        
    }

    .nav-wrapper ul {
        padding-top: 60px;
    }

    .nav-wrapper {
        background-color: white;
        display: flex;
        flex-direction: column;
        
    }

    .contact-form-wrapper {
        flex-direction: flex;
        justify-content: center;
    }

    .portfolio-cards-wrapper {
        grid-template-columns: 1fr;
    }
    
    .card-content-wrapper {
        position: absolute;
        top: 0;
        align-items: center; 
        height: 100%;
        text-align: center;
        padding-left: 100px;  /* bei screen alle -x200 padding reduziern */
        padding-right: 100px; /* bei screen alle -x200 padding reduziern */
    }
}

@media screen and (max-width: 460px) {

    .imgWelcome {
        font-family: 'Bebas Neue', cursive;
        /* font-family: 'News Cycle', sans-serif; */
        font-size: 45px;
        font-weight: 200;
    }

    .welcome {
        margin-top: 80px;
        margin: 0 auto;
    }

    .imgWelcome:hover {
        top: 37.5%;
        padding-top:2.5% ;
        padding-bottom:2.5% ;
        color: black;
        background-color: white;
    }

    .typing-wrapper-text {
        
        padding-top: 20px;
        padding-bottom: 400px;
        font-family: 'Bebas Neue', cursive;
        /* font-family: 'News Cycle', sans-serif; */
        font-size: 40px;
        font-weight: 200;
        margin: 0 auto;
        text-align: center;
        background: white;
}

    .carousel-container {
        width: 300px;
    }

    .nav-wrapper .logo {
        font-size: 30px;
    }

    .main-wrapper-text {
        max-width: 350px;
        font-size: 30px;
        max-height: 480px;
    }

    .welcome-autotype {
        max-width: 300px;
        font-size: 22px;
    }

    .welcome-autotype span.txt {
        max-width: 350px;
        font-size: 22px;
    }


    .contact-form-wrapper {
        flex-direction: column;
    }

    .portfolio-cards-wrapper {
        grid-template-columns: 1fr;
    }
    
    .cf-input-fields, .cf-msg, .cf-btn {
        margin: 0 auto;
    }

    .cf-btn {
        background: gold;
        cursor: pointer;
        text-align: center;
        padding: 19px 0;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 350px) {

    .nav-wrapper .logo {
        font-size: 22px;
    }

    .main-wrapper-text {
        max-width: 200px;
        font-size: 22px;
    }
    .typing-wrapper-text {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 400px;
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'News Cycle', sans-serif; */
    font-size: 26px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    background: white;
    }

    .carousel-container {
        width: 270px;
    }

    /* .welcome {
        max-width: 200px;
        font-size: 25px;        
    }

    .welcome-autotype {
        max-width: 200px;
        font-size: 22px;
    }

    .welcome-autotype span.txt {
        max-width: 200px;
        font-size: 22px;
    } */

    .card-content-logo {
        font-size: 40px;
    }

    :hover.card-content-logo {
    transition: 0.5s;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    }

}